@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    backdrop-filter: blur(10px);
    color: white;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
}

h2 {
    margin-bottom: 15px;
    font-weight: 600;
}

.options {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.options label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 400;
    cursor: pointer;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

button:hover {
    background: #ff4f4f;
    transform: scale(1.05);
}

.password-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
}


#password {
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: left;
    font-size: 16px;
    background: transparent;
    color: white;
    outline: none;
}


.copy-container {
    position: relative;
    display: inline-block;
}

.copy-container .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}


.copy-container.active .tooltip {
    visibility: visible;
    opacity: 1;
}


#copy {
    background: #ff6b6b;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 5px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#copy i {
    font-size: 20px;
}


#copy:hover {
    background: #ff4f4f;
}

.hint{
    margin-top: 10px;
    font-size: 15px;
}
